###Lectura y escritutra de archivos txt

MiniChallenge 1
1. Crear archivo txt llamado 'mi_archivo.txt' con un mensaje de 'Hola, este es mi archivo txt'
2. Con el método a agregarle al archivo su nombre de su equipo y lo lean

In [16]:
#Pista: Checa el Colab que vimos todos juntos en clase
a = open('mi_archivo.txt', 'w')
f.close()

In [21]:
#Codea aqui para **crear** archivo txt con elegancia
#Creamos un nuevo archivo con 'x'
with open('mi_archivo.txt') as f:
    read_data = f.read()
print(read_data)

In [7]:
#Codea aqui para **escribir** con modo w 
with open('mi_archivo.txt', 'w') as f:
    f.write("Hola, este es mi archivo txt")

In [8]:
#DEvolvemos el contenido del Archivo
f

In [14]:
#Codea aqui para **escribir al final** con modo a
with open('mi_archivo.txt', 'a') as f:
    f.write("\nEstamos poniendo este comentario hasta el final")

In [15]:
# Esta ejecutala para ver que hay en su archivo
with open('mi_archivo.txt', 'r') as f:
    for line in f:
        print(line)

Hola, este es mi archivo txtEstamos poniendo este comentario hasta el finalEstamos poniendo este comentario hasta el final



Estamos poniendo este comentario hasta el final

###Lectura de archivos CSV

MiniChallenge 2
1. Crear un archivo csv con un tabulador de **,** (coma) y con dos columnas; una con los **nombres** de los integrantes del equipo y la segunda con sus edades.
2. Abrir y mostrar la columna de los nombres.

In [26]:
import csv

temperatures_list = []  #almacenara el contenido de mi csv

with open('temperatures.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter = ',')   #accedemos a la funcion
    print(csv_reader)
    for row in csv_reader:
      temperatures_list.append(row)
      print(row)

<_csv.reader object at 0x0000019B0D093EE0>
['YEARMODA', 'TEMP', 'MAX', 'MIN', 'DIFF', 'DIFF_MIN', 'TEMP_CELSIUS']
['20160601', '65.5', '73.6', '54.7', '18.9', '10.8', '18.6']
['20160602', '65.8', '80.8', '55.0', '25.8', '10.8', '18.8']
['20160603', '68.4', '77.9', '55.6', '22.3', '12.8', '20.2']
['20160604', '57.5', '70.9', '47.3', '23.6', '10.2', '14.2']
['20160605', '51.4', '58.3', '43.2', '15.1', '8.2', '10.8']
['20160606', '52.2', '59.7', '42.8', '16.9', '9.4', '11.2']
['20160607', '56.9', '65.1', '45.9', '19.2', '11.0', '13.8']
['20160608', '54.2', '60.4', '47.5', '12.9', '6.7', '12.3']
['20160609', '49.4', '54.1', '45.7', '8.4', '3.7', '9.7']
['20160610', '49.5', '55.9', '43.0', '12.9', '6.5', '9.7']
['20160611', '54.0', '62.1', '41.7', '20.4', '12.3', '12.2']
['20160612', '55.4', '64.2', '46.0', '18.2', '9.4', '13.0']
['20160613', '58.3', '68.2', '47.3', '20.9', '11.0', '14.6']
['20160614', '59.7', '67.8', '47.8', '20.0', '11.9', '15.4']
['20160615', '63.4', '70.3', '49.3', '21.0', '14.1', '17.4']
['20160616', '57.8', '67.5', '55.6', '11.9', '2.2', '14.3']
['20160617', '60.4', '70.7', '55.9', '14.8', '4.5', '15.8']
['20160618', '57.3', '62.8', '54.0', '8.8', '3.3', '14.1']
['20160619', '56.3', '59.2', '54.1', '5.1', '2.2', '13.5']
['20160620', '59.3', '69.1', '52.2', '16.9', '7.1', '15.2']
['20160621', '62.6', '71.4', '50.4', '21.0', '12.2', '17.0']
['20160622', '61.7', '70.2', '55.4', '14.8', '6.3', '16.5']
['20160623', '60.9', '67.1', '54.9', '12.2', '6.0', '16.1']
['20160624', '61.1', '68.9', '56.7', '12.2', '4.4', '16.2']
['20160625', '65.7', '75.4', '57.9', '17.5', '7.8', '18.7']
['20160626', '69.6', '77.7', '60.3', '17.4', '9.3', '20.9']
['20160627', '60.7', '70.0', '57.6', '12.4', '3.1', '15.9']
['20160628', '65.4', '73.0', '55.8', '17.2', '9.6', '18.6']
['20160629', '65.8', '73.2', '59.7', '13.5', '6.1', '18.8']
['20160630', '65.7', '72.7', '59.2', '13.5', '6.5', '18.7']

In [29]:
#Crea y Escribe tu CSV aqui
with open('File.csv', 'w') as f:
    f.write("Este es una archivo csv")

In [30]:
#Lee tu CSV aqui 
with open('File.csv') as f:
    read_data = f.read()
print(read_data)

Este es una archivo csv

In [33]:
#Muestra las primeras 5 columas
import pandas as pd
df = pd.read_csv('temperatures.csv')

#Devolvemos las primeras 5 filas
df.head(5)

   YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_MIN  TEMP_CELSIUS
0  20160601  65.5  73.6  54.7  18.9      10.8          18.6
1  20160602  65.8  80.8  55.0  25.8      10.8          18.8
2  20160603  68.4  77.9  55.6  22.3      12.8          20.2
3  20160604  57.5  70.9  47.3  23.6      10.2          14.2
4  20160605  51.4  58.3  43.2  15.1       8.2          10.8

###Lectura y exploracion de archivo CSV con Pandas


[Pandas](https://pandas.pydata.org) es un módulo externo en Python que provee de herramientas para el análisis y manipulación de datos comúnmente utilizado en *Data Science* debido a que es rápido, poderoso, flexible y fácil de utilizar.

Una de las principales ventajas de utilizar un DataFrame en lugar de una estructura de datos convencional de Python es el acceso a funcionalidades de uso frecuente. Una de estas es la posibilidad de realizar operaciones de agregación (metodos) sobre las columnas.

Existen 13 funciones de agregación (metodos) incluidas en Pandas:
1. `mean()`: Calcula el promedio.
1. `sum()`: Calcula la suma.
1. `size()`: Calcula el tamaño.
1. `count()`: Calcula el tamaño ignorando valores vacíos.
1. `std()`: Calcula la desviación estándar.
1. `var()`: Calcula la varianza.
1. `sem()`: Calcula el error estándar de los valores promedio.
1. `describe()`: Genera estadísticas descriptivas (promedio, desviación estándar, mínimo, máximo, quartiles).
1. `first():` Devuelve el primer elemento.
1. `last()`: Devuelve el último elemento.
1. `nth()` : Devuel el n-ésimo elemento para un valor de `n` entero, o un subconjunto si `n` es una lista.
1. `min()`: Calcula el mínimo.
1. `max()`: Calcula el máximo.

MiniChallenge 3
1. Entra a Kaggle, descarga el archivo [water_potability.csv](https://www.kaggle.com/adityakadiwal/water-potability?select=water_potability.csv) y subelo a tu carpeta de Files
2. Importar la base de datos con pandas al notebook
3. Mostrar la columna 'Turbidity'
4. Sacar promedio de la columna 'Ph'

In [ ]:
import pandas as pd

###Accediendo a Páginas Web

MiniChallenge 4
1. Accedemos a Project Gutemberg y elegir el libro de tu preferencia en formato txt https://www.gutenberg.org/
2. leer el libro elegido
3. Mostrar los primeros 5000 caracteres

In [ ]:
import urllib.request

###Manipulacion de JSON con Python

JavaScript Object Notation (JSON) El formato mas utilizado para trasferir informacion (intercambio de datos a través de la web)

MiniChallenge 5
 
1. Busquemos acceder a las 'description' del json

In [ ]:
import json

In [ ]:
otro_JSON='''
{
    "marcadores": [
      {
        "latitude": 40.416875,
        "longitude": -3.703308,
        "city": "Madrid",
        "description": "Puerta del Sol"
      },
      {
        "latitude": 40.417438,
        "longitude": -3.693363,
        "city": "Madrid",
        "description": "Paseo del Prado"
      },
      {
        "latitude": 40.407015,
        "longitude": -3.691163,
        "city": "Madrid",
        "description": "Estación de Atocha"
      }
    ]
}

'''

In [ ]:
#Codea aqui para acceder a las 3 description de otro_JSON con ayuda de un for

##API

Minichallenge 6 

Haz una consulta a la siguiente API y obten todos los elementos de 'sunrise' del JSON que da como resultado

* [Sunrise Sunset](https://sunrise-sunset.org/api)

In [ ]:
import requests